/* DEFAULT CSS STARTS */
.w-25 {width: 25%;}
.w-50 {width: 50%;}
.w-75 {width: 75%;}
.w-100 {width: 100%;}
.vw-100 {width: 100vw;}
.vh-100 {height: 100vh;}


body {
    width: 100vw;
    overflow: hidden scroll;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@media all and (max-width: 1200px){
    .container {
        width: 90%;
        margin: 0 5% 0 5%;
    }
}
.container-fluid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.col-3 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}
.col-4 {
    width: 33.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}
.col-8 {
    width: 66.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}
.col-12 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}
@media all and (max-width: 992px) {
    .col-3,
    .col-4,
    .col-8,
    .col-12 {
        width: 100%;
    }
}
form button[type="submit"] {
    padding: 12px;
    margin-left: -8px;
}
a.btn-1 {
    display: inline-block;
    padding: 20px;
    background: #ffffff;
    color: #4834d4;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
a.btn-1:hover {
    -webkit-box-shadow: 0 0 0 3px rgba(255,255,255,.7);
            box-shadow: 0 0 0 3px rgba(255,255,255,.7);
}

a.btn-2 {
    display: inline-block;
    padding: 20px;
    background: #4834d4;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
a.btn-2:hover {
    -webkit-box-shadow: 0 0 0 3px #4934d444;
            box-shadow: 0 0 0 3px #4934d444;
}
input:focus,
textarea:focus {
    border: 4px solid #ffff00 !important;
}
button:focus {
    background-color: #ffff00 !important;
    color: #202020 !important;
}
.text-right {text-align: right;}

form p {
    margin-bottom: 10px;
}
form p label {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
form p label span {
    margin-top: 10px;
}
/* DEFAULT CSS ENDS */

/* PRELOADER STARTS */
.preloaderfullwrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    }
    .prelaoder {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    @-webkit-keyframes basesquareright {
    0% {
    width: 0%;
    height: 0%;
    border-bottom-color: transparent;
    border-right-color: transparent; }
    10% {
    border-bottom-color: #ffffff;
    border-right-color: #ffffff; }
    30% {
    width: calc(100% - 4px);
    height: 2px; }
    50% {
    height: calc(100% - 4px); } }
    @keyframes basesquareright {
    0% {
    width: 0%;
    height: 0%;
    border-bottom-color: transparent;
    border-right-color: transparent; }
    10% {
    border-bottom-color: #ffffff;
    border-right-color: #ffffff; }
    30% {
    width: calc(100% - 4px);
    height: 2px; }
    50% {
    height: calc(100% - 4px); } }
    @-webkit-keyframes basesquareleft {
    0% {
    width: 0%;
    height: 0%;
    border-top-color: transparent;
    border-left-color: transparent; }
    50% {
    width: 0%;
    height: 0%;
    border-top-color: transparent;
    border-left-color: transparent; }
    60% {
    border-top-color: #ffffff;
    border-left-color: #ffffff; }
    80% {
    width: calc(100% - 4px);
    height: 2px; }
    100% {
    height: calc(100% - 4px); } }
    @keyframes basesquareleft {
    0% {
    width: 0%;
    height: 0%;
    border-top-color: transparent;
    border-left-color: transparent; }
    50% {
    width: 0%;
    height: 0%;
    border-top-color: transparent;
    border-left-color: transparent; }
    60% {
    border-top-color: #ffffff;
    border-left-color: #ffffff; }
    80% {
    width: calc(100% - 4px);
    height: 2px; }
    100% {
    height: calc(100% - 4px); } }
    .loader {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 13px 23px;
    color: #202020;
    position: relative;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    z-index: 1;
    overflow: hidden; }
    
    .loader:hover {
    color: #202020; }
    
    .loader > span {
    position: absolute;
    display: block; }
    
    .loader > span.one {
    width: 100%;
    height: 2px;
    background: -o-linear-gradient(left, transparent, #202020);
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#202020));
    background: linear-gradient(90deg, transparent, #202020);
    top: 0;
    left: -100%;
    -webkit-animation: 2s btn2animator1 linear infinite;
            animation: 2s btn2animator1 linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
    
    @-webkit-keyframes btn2animator1 {
    0% {
    left: -100%; }
    50%, 100% {
    left: 100%; } }
    
    @keyframes btn2animator1 {
    0% {
    left: -100%; }
    50%, 100% {
    left: 100%; } }
    .loader > span.two {
    width: 2px;
    height: 100%;
    background: -o-linear-gradient(top, transparent, #202020);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#202020));
    background: linear-gradient(180deg, transparent, #202020);
    top: -100%;
    right: 0;
    -webkit-animation: 2s btn2animator2 linear infinite;
            animation: 2s btn2animator2 linear infinite;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }
    
    @-webkit-keyframes btn2animator2 {
    0% {
    top: -100%; }
    50%, 100% {
    top: 100%; } }
    
    @keyframes btn2animator2 {
    0% {
    top: -100%; }
    50%, 100% {
    top: 100%; } }
    .loader > span.three {
    width: 100%;
    height: 2px;
    background: -o-linear-gradient(left, transparent, #202020);
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#202020));
    background: linear-gradient(90deg, transparent, #202020);
    bottom: 0;
    left: 100%;
    -webkit-animation: 2s btn2animator3 linear infinite;
            animation: 2s btn2animator3 linear infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
    
    @-webkit-keyframes btn2animator3 {
    0% {
    left: 100%; }
    50%, 100% {
    left: -100%; } }
    
    @keyframes btn2animator3 {
    0% {
    left: 100%; }
    50%, 100% {
    left: -100%; } }
    .loader > span.four {
    width: 2px;
    height: 100%;
    background: -o-linear-gradient(top, transparent, #202020);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#202020));
    background: linear-gradient(180deg, transparent, #202020);
    top: 100%;
    left: 0;
    -webkit-animation: 2s btn2animator4 linear infinite;
            animation: 2s btn2animator4 linear infinite;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s; }
    
    @-webkit-keyframes btn2animator4 {
    0% {
    top: 100%; }
    50%, 100% {
    top: -100%; } }
    
    @keyframes btn2animator4 {
    0% {
    top: 100%; }
    50%, 100% {
    top: -100%; } }
/* PRELOADER ENDS */

/* LOGO STARTS */
.custom-logo-link {
    display: inline-block;
}
.custom-logo-link img {
    max-height: 80px !important;
    width: auto;
}
/* LOGO ENDS */

/* HERO SECTION STARTS */
.herofullwrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.herofullwrapper > img {
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
}
.herofullwrapper:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
}
.homecontent {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -25%);
    -webkit-transform: translate(-50%, -25%);
    -moz-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    -o-transform: translate(-50%, -25%);
}
@media all and (max-width: 992px) {
    .homecontent {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
}
.homecontent h2 {
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 15px;
}
.homecontent p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
    text-transform: capitalize;
    line-height: 1.5;
}
/* HERO SECTION ENDS */


/* BLOGS STARTS */
.search-page-title h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}
.search-page-title h1 .page-description.search-term {
    color: #4834d4;
}
.fullblogwrapper {
    width: 100%;
    padding: 75px 0;
}
.blogwrapper {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
    background-color: #e3e3e3;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.blogwrapper:nth-child(odd){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
@media all and (max-width: 767px){
    .blogwrapper:nth-child(odd),
    .blogwrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.blogwrapper > .blogthumb {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.blogwrapper > .blogthumb > a,
.blogwrapper > .blogthumb > a > img {
    display: block;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
}
.blogwrapper > .blogcontent {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
    padding: 0 15px;
}
@media all and (max-width: 767px){
    .blogwrapper > .blogcontent {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 60%;
                flex: 1 0 60%;
        padding: 15px 0;
    }
}
.blogcontent > h3 > a {
    font-size: 25px;
    text-decoration: none;
    color: #4834d4;
    font-weight: 800;
}
.blogcontent > .blogdetails {
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
    display: block;
    font-size: 17px;
    font-weight: 600;
}
.blogdetails > a {
    color: #4834d4;
    font-weight: 600;
    text-decoration: underline !important;
}
.blogdetails > .post-categories {
    display: block;
    margin-top: 10px;
}
.blogdetails > .post-categories > li {
    list-style: none;
    float: left;
}
.blogdetails > .post-categories > li:after {
    content: ",";
    margin-right: 10px;
}
.blogdetails > .post-categories > li:last-child:after {
    content: " ";
    margin-right: 0px;
}
.blogcontent > p {
    margin-bottom: 15px;
    font-size: 18px;
}
.blogcontent > p > .continue-reading {
    color: #4834d4;
    text-decoration: underline;
}
.navigation.pagination > .nav-links > .page-numbers {
    display: inline-block;
    padding: 10px;
    background-color: #4834d4;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.navigation.pagination > .nav-links > .page-numbers:hover,
.navigation.pagination > .nav-links > .page-numbers.current {
    background-color: transparent;
    border-color: #4834d4;
    color: #4834d4;
}
@media all and (max-width: 992px){
    .navigation.pagination {
        margin-bottom: 50px;
    }
}
.blogsallcommentwrapper {
    list-style: none;
    margin: 75px 0;
    overflow: hidden;
}
.comment-content a {
    text-decoration: none;
    color: #4834d4;
}
.blogsallcommentwrapper li .children {
    list-style: none;
    width: 100%;
    margin-top: 20px;
	overflow: hidden;
}
.blogsallcommentwrapper li .children li {
	width: 90%;
	float: right;
}
/* BLOGS ENDS */

/* BLOG SINGLE STARTS */
.post-thumbnail {
    width: 100% !important;
    max-width: 100% !important;
    height: 600px;
    max-height: 600px;
}
.post-thumbnail img {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
}
.single-blog-post-header {
    font-size: 30px;
    font-weight: 600;
}
.single-blog-content {
    overflow: hidden;
}
.single-blog-content h1 {font-size: 35px;}
.single-blog-content h2 {font-size: 30px;}
.single-blog-content h3 {font-size: 25px;}
.single-blog-content h4 {font-size: 22px;}
.single-blog-content h5 {font-size: 18px;}
.single-blog-content h6 {font-size: 15px;}
.single-blog-content p {font-size: 15px;}
.single-blog-footer {
    margin: 15px 0;
}
.comment-meta .comment-author .fn {
    font-size: 20px;
    font-weight: 600;
}
.comment-content > * {
    font-size: 15px;
}
.comment-content a {
    text-decoration: underline;
}
.comment-reply-link {
    background-color: #202020;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
}
/* BLOG SINGLE ENDS */

/* WIDGETS STARTS */
.widgetwrapper {
    width: 100%;
    overflow: hidden;
    padding: 0 15px;
    margin-bottom: 25px;
}
.widget-title {
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #4834d4;
    font-size: 25px;
    font-weight: 800;
    padding: 15px 0;
}
.widget-title > h3 {
    display: inline-block;
    background-color: #4834d4;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 15px;
}
.widgetwrapper {
    width: 100%;
    overflow: hidden;
}
.widgetwrapper ul {
    list-style: none;
    width: 100%;
}
.widgetwrapper ul > li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.widgetwrapper ul > li,
.widgetwrapper ul > li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 7px 0;
}
.widgetwrapper ul > li,
.widgetwrapper ul > li > * {
    font-size: 16px;
}
.widgetwrapper ul > li:last-child {
    border-bottom: none;
}
.widgetwrapper ul > li > a {
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    color: #4834d4;
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.widgetwrapper ul > li > a,
.widgetwrapper ul > li > a {
    padding: 0px 0 5px 0;
}
.widgetwrapper ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.widgetwrapper ul > li > span > a {
    font-weight: 800;
    color: #4834d4;
}
.widgetwrapper ul > li > a {
    font-weight: 500;
    color: #202020;
    text-decoration: underline;
    padding: 15px 0;
}
.widgetwrapper .textwidget {
    padding: 10px;
    font-size: 17px;
}
.widgetwrapper form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.widgetwrapper form > input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border: 2px solid #202020;
    padding: 0 15px;
    width: 100%;
}
.widgetwrapper form > button {
    padding: 10px;
    color: #ffffff;
    background-color: #202020;
    border: none;
}
.widgetwrapper > .calendar_wrap {
    margin-top: 10px;
}
.widgetwrapper > .calendar_wrap,
.widgetwrapper > .calendar_wrap > .wp-calendar-table {
    width: 100%;
}
.widgetwrapper > .calendar_wrap > .wp-calendar-table > caption {
    font-weight: 800;
    color: #4834d4;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #4834d4;
    margin-bottom: 0 !important;
}
.widgetwrapper > .calendar_wrap > .wp-calendar-table > thead > tr > th {
    background-color: #4834d4;
    color: #ffffff;
}
.widgetwrapper > .calendar_wrap > .wp-calendar-table > thead > tr > th,
.widgetwrapper > .calendar_wrap > .wp-calendar-table > tbody > tr > td {
    text-align: center;
    border: 1px solid #4834d4;
    height: 40px;
    padding: 0;
    font-size: 16px;
}
.widgetwrapper > .calendar_wrap > .wp-calendar-table > tbody > tr > td > a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: #4834d4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
}
.textwidget a {
    color: #4834d4;
}
.wp-calendar-nav {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.wp-calendar-nav-prev,
.wp-calendar-nav-next {
    display: inline-block;
    width: 50%;
    padding: 10px;
    background-color: #4834d4;
    font-size: 16px;
    font-weight: 600;
}
.wp-calendar-nav-prev > a,
.wp-calendar-nav-next > a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100%;
}
.wp-calendar-nav-next {
    text-align: right;
}

.widgetwrapper > a,
.widgetwrapper > img,
.widgetwrapper > a > img {
    width: 100%;
    overflow: hidden;
}
.widgetwrapper .image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}
.widgetwrapper .tagcloud {
    margin-top: 10px;
}
.widgetwrapper .tagcloud > .tag-cloud-link {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4834d4;
    color: #ffffff;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 2px solid #4834d4;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.widgetwrapper .tagcloud > .tag-cloud-link:hover {
    background-color: transparent;
    color: #4834d4;
}
.footer-widget-full {
    width: 100%;
    padding: 50px 0;
}
.footer-widget-full > .widgetwrapper {
    width: 25%;
    float: left;
}
.site a:focus img {
    border: 3px solid #fcfc06;
}
/* WIDGETS ENDS */

/* 404 PAGE STARTS */
.no-page-404 {
    padding: 70px 0;
    text-align: center;
}
.no-page-404 .page-title {
    font-weight: 800;
}
/* 404 PAGE ENDS */

/* FOOTER STARTS */
.site-footer {
    padding: 50px 0;
}
/* FOOTER ENDS */